---
import artistPlaceholderImage from "../assets/images/artist-placeholder.png";

interface Props {
  image?: string;
  imageAlt?: string;
  className?: string;
}

const { 
  image,
  imageAlt = "Artist image",
  className = ""
} = Astro.props;
---

<div class={`artist-image-wrapper ${className}`}>
  <img 
    src={image || artistPlaceholderImage.src} 
    alt={imageAlt}
    onerror={`this.src='${artistPlaceholderImage.src}'; this.onerror=null;`}
  />
  <div class="bevel bevel-top-left">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0L24 0L0 24Z" fill="var(--color-primary-50)"/>
    </svg>
  </div>
  <div class="bevel bevel-bottom-right">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M24 0L24 24L0 24Z" fill="var(--color-primary-50)"/>
    </svg>
  </div>
</div>

<style>
  .artist-image-wrapper {
    position: relative;
    height: var(--spacing-core-1500-lg);
    width: calc(var(--spacing-core-1500-lg) * 2 / 3); /* Maintain 2:3 aspect ratio */
    border: var(--spacing-core-300-md) solid var(--color-primary-50);
    flex-shrink: 0;
  }

  .artist-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    pointer-events: none;
  }

  .bevel {
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .bevel-top-left {
    top: 0;
    left: 0;
  }

  .bevel-top-left svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  .bevel-bottom-right {
    bottom: 0;
    right: 0;
  }

  .bevel-bottom-right svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  /* Mobile Breakpoint - 767px and below */
  @media (max-width: 767px) {
    .artist-image-wrapper {
      height: var(--spacing-core-1500-sm);
      width: calc(var(--spacing-core-1500-sm) * 2 / 3); /* Maintain 2:3 aspect ratio */
      max-width: 100%;
    }
  }
</style>
